<a href="https://colab.research.google.com/github/myfirstgithub0512/Shruti_INFO5731_Spring2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
str = "Shruti"
print(len(str))

6

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [73]:
inputString = ("colab.research.google.com/drive")
dictionary = {}
for i in inputString:
  dictionary[i]= inputString.count(i)
print (dictionary)

{'c': 3, 'o': 4, 'l': 2, 'a': 2, 'b': 1, '.': 3, 'r': 3, 'e': 4, 's': 1, 'h': 1, 'g': 2, 'm': 1, '/': 1, 'd': 1, 'i': 1, 'v': 1}

(3) Write a Python program to sum all the items in a list

In [0]:

num3 = [1,2,5,2]

sum = 0

for item in num3:
  sum = sum+item

print(sum)

10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [1]:
name = "restart"
old = "restart"
new = "resta$t"
strl = name.replace(old,new)
print(name)
print(strl)

restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [65]:
a = input("a= ")
b = input("b= ")
def formulaToCalculateS(a,b):
  return 3.14*(1+(float(a)/float(b)
 )**3)
formulaToCalculateS(a,b)

a= 3
b= -4

1.8153125

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [20]:
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic4 = dict(dic1)
dic4.update (dic2)
dic4.update (dic3)
print ('dic1 :',dic1)
print ('dic2 :',dic2)
print ('dic3 :',dic3)
print ('dic4 :',dic4)

dic1 : {1: 10, 2: 20}
dic2 : {3: 30, 4: 40}
dic3 : {5: 50, 6: 60}
dic4 : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [11]:
sampleTuple = [5,10,4,7,10,6]
if 47 in sampleTuple:
  print ("Element exists in given tuple")
else:
  print ("Element does not exist in given tuple")

Element does not exist in given tuple

(8) Write a Python program to find maximum and the minimum value in a set.

In [6]:
a = [3,68,10,40]
print("Minimum in set: ",min(a))
b = [4,56,20,10]
print("Maximum in set: ",max(b))

Minimum in set:  3
Maximum in set:  56

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [21]:
import random
list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  s = random.choices(list, k=6)
  list = [i for i in list if i not in s]
  print("group" + str (i+1)+":",s)

group1: ['lba0043', 'ry0104', 'sa0753', 'bs0490', 'lg0426', 'ss1872']
group2: ['ap0975', 'tpk0023', 'sm1515', 'pb0283', 'tbl0041', 'vk0222']
group3: ['am1823', 'hr0178', 'ak0860', 'vp0241', 'am1823', 'am1823']
group4: ['pk0292', 'dp1080', 'pk0292', 'pk0292', 'dp1080', 'vk0216']